h1 {
    font-style: italic;
    text-decoration: underline;
    color :white;
    background-color: black;
}

#HeaderBG {
    background-color: coral;
    display: flex;
    flex-direction: column;
}