#p1{
    color: darkblue;
    font-size: 3vw;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.p2{
    color: red;
    font-size: 5vw;
    text-align: center;
}

li{
    color: darkblue;
    font-size: 3vw;
}