body{background-color: blueviolet;}
.Sunday{color: rgb(223, 12, 54);}
.Monday{color: rgb(247, 247, 39);}
.Tuesday{color: rgb(224, 106, 126);}
.Wednesday{color: rgb(83, 226, 83);}
.Thursday{color:rgb(241, 105, 56)}
.Friday{color: rgb(122, 163, 240);}
.Saturday{color: rgb(123, 24, 168);}
table{background-color: rgb(250, 249, 246);
border-color: rgb(187, 105, 91);}